In [1]:
import pandas as pd
import matplotlib.pyplot as plt
print(plt.style.available)
plt.style.use('seaborn-v0_8') # sesuaikan dengan tema yang diinginkan

['Solarize_Light2', '_classic_test_patch', '_mpl-gallery', '_mpl-gallery-nogrid', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-v0_8', 'seaborn-v0_8-bright', 'seaborn-v0_8-colorblind', 'seaborn-v0_8-dark', 'seaborn-v0_8-dark-palette', 'seaborn-v0_8-darkgrid', 'seaborn-v0_8-deep', 'seaborn-v0_8-muted', 'seaborn-v0_8-notebook', 'seaborn-v0_8-paper', 'seaborn-v0_8-pastel', 'seaborn-v0_8-poster', 'seaborn-v0_8-talk', 'seaborn-v0_8-ticks', 'seaborn-v0_8-white', 'seaborn-v0_8-whitegrid', 'tableau-colorblind10']

# Tentang Kiva

<img src="assets/kiva.jpg" width="500"/>

[Kiva.org](https://www.kiva.org/) adalah sebuah platform online non-profit untuk crowdfunding yang memungkinkan individu dapat meminjam dana untuk keperluan bisnis. Misinya adalah untuk meningkatkan kesejahteraan warga marginal (terutama low-income entrepreneurs and students) di beberapa negara. Crowdfunding (urun dana) adalah aktivitas pengumpulan dana modal dari beberapa individu untuk membiayai usaha bisnis baru.

**Role play:** Anda dan tim adalah seorang data analyst di organisasi Kiva ini.

# Data Preparation

Pertama, load file `loan_kiva.csv` pada folder `data_input`:

In [9]:
kiva = pd.read_csv('data_input/loan_kiva.csv')
kiva.head()

,id,funded_amount,loan_amount,activity,sector,country,region,partner_id,posted_time,funded_time,term_in_months,lender_count,repayment_interval
0,653051,300.0,300.0,Fruits & Vegetables,Food,Pakistan,Lahore,247,2014-01-01 06:12:39,2014-01-02 10:06:32,12,12,irregular
1,653053,575.0,575.0,Rickshaw,Transportation,Pakistan,Lahore,247,2014-01-01 06:51:08,2014-01-02 09:17:23,11,14,irregular
2,653068,150.0,150.0,Transportation,Transportation,India,Maynaguri,334,2014-01-01 09:58:07,2014-01-01 16:01:36,43,6,bullet
3,653063,200.0,200.0,Embroidery,Arts,Pakistan,Lahore,247,2014-01-01 08:03:11,2014-01-01 13:00:00,11,8,irregular
4,653084,400.0,400.0,Milk Sales,Food,Pakistan,Abdul Hakeem,245,2014-01-01 11:53:19,2014-01-01 19:18:51,14,16,monthly

Berikut adalah deskripsi dari masing-masing kolom:
* `id`: Unique ID untuk masing-masing loan (loan ID)
* `funded_amount`: Jumlah yang dicairkan oleh Kiva ke agen (USD)
* `loan_amount`: Jumlah yang disalurkan oleh agen ke peminjam (USD)
* `activity`: Kategori lebih spesifik dari `sector`
* `sector`: Kategori dari loan
* `country`: Nama negara lengkap, tempat pinjaman dicairkan
* `region`: Nama wilayah lengkap dari `country`
* `partner_id`: ID untuk organisasi partner
* `posted_time`: Waktu pinjaman di-posting di Kiva oleh agen
* `funded_time`: Waktu pinjaman telah sepenuhnya dibiayai oleh pemberi pinjaman
* `term_in_months`: Durasi pencairan pinjaman (dalam satuan bulan)
* `lender_count`: Banyaknya peminjam yang berkontribusi
* `repayment_interval`: Cara pelunasan peminjaman

### Cek tipe data

Lakukan pengecekan tipe data dan ubah kolom-kolom yang belum sesuai tipe datanya.

In [ ]:
# your code here

**Kolom yang belum sesuai tipe datanya**:
- posted_time, funded_time : object to `datetime64`
- sector, repayment_interval, country : object to `category`
- id, partner_id : integer to `object`

Cek kembali tipe data untuk memastikan sudah berubah:

In [ ]:
# your code here

In [ ]:
kiva.dtypes

Lihat ada negara apa saja pada data `kiva`:

In [ ]:
#code ini hanya bisa dijalankan setelah Anda mengubah tipe data country menjadi category
kiva.country.cat.categories

# Dive Deeper: Data Wrangling and Reshaping

Pada bagian ini kita hanya tertarik untuk menganalisa data `kiva` di negara **Indonesia** saja. 
1. Lakukan `.copy()` data kiva sebelum melakukan langkah selanjutnya dan save kedalam objek `kiva_indo`
2. Lakukan filter baris dan simpan kembali pada `kiva_indo`.

In [ ]:
# your code here
kiva_indo = ...

# Dive Deeper: Simple Visualization

## Question 1️⃣

❓ Kita ingin mengetahui sektor dengan pengajuan loan terbanyak?

> Menggunakan data `kiva_indo`, visualisasikan top 10 `sector` dengan pengajuan loan terbanyak (frekuensi).

In [ ]:
# Agregasi untuk menghitung sektor terbanyak

In [ ]:
# visualisasi dari hasil agregasi

**Insight:** 
- ....

## Question 2️⃣

❓ 2.1. Sektor dengan nilai tengah pinjaman yang paling tinggi?

❓ 2.2. Sektor dengan jumlah pinjaman paling bervariasi?

❓ 2.3. Sektor dengan outlier atas terbesar? Kemudian cari di daerah manakah pinjaman tersebut terjadi

Menggunakan data `kiva_indo` silahkan melihat persebaran `funded_amount` berdasarkan `sector` nya untuk menjawab pertanyaan di atas

> 💡 Hint: Gunakan parameter `column` pada boxplot untuk menentukan kolom numerik apa yang akan dilihat persebarannya!

In [ ]:
# visualisasi funded amount dan sector

In [ ]:
# Mencari pinjaman dengan pinjaman terbesar

**Insight:**
- ...
- ...
- ...

## Question 3️⃣

> ❓ Berdasarkan jawaban nomor satu, berdasarkan 3 sektor dengan frekuensi tertinggi, kita ingin mengetahui pada bulan apa saja masing-masing sektor tersebut memiliki rata-rata pinjaman tertinggi?

> Buatlah **grouped barchart** untuk membandingkan rata-rata nilai `funded_amount` untuk ketiga `sector` dengan frekuensi terbanyak **setiap bulannya**.

- Buatlah kolom baru yang berisikan nama bulan
- Buatlah sebuah objek dataframe bernama `top3_sector` yang berisikan observasi ketiga sector dengan frekuensi pinjaman terbanyak
    > Hint: Gunakan method `.isin()` untuk filter beberapa jenis kategori di kolom yang sama
- Tampilkan nilai rata-rata `funded_amount` untuk setiap bulannya. Simpan tabel agregasi ke objek `top3_agg_month`

In [ ]:
kiva_indo.head(2)

In [ ]:
# Membuat kolom Month yang berisi nama bulan

In [ ]:
# filter 3 sektor tertinggi
top3_sector = ...

In [ ]:
# membuat tabel agregasi

In [ ]:
# Membuat visualisasi dari tabel agregasi

In [ ]:
# Improvement visualisasi
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

**Insight:**
- 
- 
-

## Question 4️⃣

Selamat!!! Sampai di tahap ini Anda dan tim sudah berhasil untuk melakukan analisis data Kiva. Namun, kami paham bahwa Anda dan Tim ingin mengeksplor lebih banyak lagi data Kiva sehingga menghasilkan insight menarik yang dapat digunakan untuk mendukung pengambilan keputusan di perusahaan Kiva. Oleh karena itu, ini waktu yang tepat untuk Anda dan tim menggali insight menarik lainnya dari data `kiva` dan sajikan dalam bentuk visualisasi!

Pilihan visualisasi dapat berupa:
- line plot
- bar plot
- histogram
- box plot
- ataupun yang lainnya