<div style="padding: 60px;
  text-align: center;
  background: #a0ced9;
  color: #003049;
  font-size: 20px;">
  <h2>Inclass: Python for Data Analysts</h2>
   <hr>
</div>


- **This notebook based on main material**
- **Course Length**: 12 hours
- **Instructor** : Dwi Gustin Nurdialit
- **Version**: Zeus Data Analytics - August 2024

___

**Table of contents**<a id='toc0_'></a>    
- [Training Objectives](#toc1_1_)    
- [Environment](#toc2_)    
  - [Cara Membuat Environtment Baru](#toc2_1_)    
  - [Install/ Update Package](#toc2_2_)    
- [Introduction to Jupyter Notebook in VS Code](#toc3_)    
  - [Markdown Cell and Code Cell](#toc3_1_)    
    - [Markdown](#toc3_1_1_)    
    - [Code](#toc3_1_2_)    
  - [Shortcuts](#toc3_2_)    
  - [üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper](#toc3_3_)    
- [Introduction to Python](#toc4_)    
  - [Variables](#toc4_1_)    
  - [Python Data Types](#toc4_2_)    
    - [String](#toc4_2_1_)    
    - [Number](#toc4_2_2_)    
    - [Boolean](#toc4_2_3_)    
    - [List](#toc4_2_4_)    
- [Introduction to Library (Package)](#toc5_)    
  - [Import a Library](#toc5_1_)    
- [Pandas Library](#toc6_)    
  - [Working with DataFrame](#toc6_1_)    
    - [üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper](#toc6_1_1_)    
- [Exploratory Data Analysis I](#toc7_)    
  - [`head()` and `tail()`](#toc7_1_)    
  - [`shape` dan `size`](#toc7_2_)    
  - [`axes`](#toc7_3_)    
  - [`.describe()`](#toc7_4_)    
  - [Tipe Data](#toc7_5_)    
  - [`dtypes`: Check Tipe Data](#toc7_6_)    
    - [Numerical and Categorical Variables](#toc7_6_1_)    
      - [Numerical](#toc7_6_1_1_)    
      - [Object & Categorical](#toc7_6_1_2_)    
    - [Mengubah Tipe Data](#toc7_6_2_)    
    - [Rangkuman Data Types](#toc7_6_3_)    
  - [Knowledge Check: Data types](#toc7_7_)    
    - [Summary Day-2](#toc7_7_1_)    
- [Indexing and Subsetting with Pandas](#toc8_)    
  - [`select_dtypes()`](#toc8_1_)    
  - [`drop()`](#toc8_2_)    
    - [Hapus berdasarkan index baris](#toc8_2_1_)    
    - [Hapus berdasarkan index kolom](#toc8_2_2_)    
  - [Slicing: **`[]` operator**](#toc8_3_)    
  - [`.iloc` dan `.loc`](#toc8_4_)    
      - [üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper:](#toc8_4_1_1_)    
  - [Conditional Subsetting](#toc8_5_)    
  - [Multiple Conditions](#toc8_6_)    
  - [üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper](#toc8_7_)    
- [Referencing and Copying](#toc9_)    
  - [Reference](#toc9_1_)    
  - [Copying](#toc9_2_)    
- [Additional Information](#toc10_)    
    - [Cara Membuat Kolom Baru](#toc10_1_1_)    
- [Inclass Questions](#toc11_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Training Objectives](#toc0_)

This coursebook is intended for participants new to the world of data analysis and / or programming. No prior programming knowledge is assumed. 

The coursebook focuses on:
- Introduction to the `pandas` library. 
- Introduction to `DataFrame`  
- Data Types
- Exploratory Data Analysis I
- Indexing and Subsetting

The final part of this course is a Graded Asssignment, where you are expected to apply all that you've learned on a new dataset, and attempt the given questions.

# <a id='toc2_'></a>[Environment](#toc0_)

## <a id='toc2_1_'></a>[Cara Membuat Environtment Baru](#toc0_)

**1Ô∏è‚É£ Membuka Terminal pada Visual Studio Code**

Saat pertama kali kita membuka Visual Studio Code, terdapat beberapa menu di pojok kiri atas. Silahkan kamu klik menu **Terminal** pada bagian kiri atas. Lalu, pilih **`New Terminal`**. Selesai, kamu berhasil membuka terminal baru.

---

**2Ô∏è‚É£ Buat Environment dengan Nama `ENV_NAME`**:
   
```python
conda create -n <ENV_NAME> python=<PYTHON_VERSION>
```
Contoh: `conda create -n zeus_da python=3.12`

Tujuan dari kita menuliskan `python=3.12` agar python yang terinstall pada virtual environtment yang kita buat adalah python dengan versi 3.12. 

---

**3Ô∏è‚É£ Mengaktifkan Environment**

Setelah virtual environtment yang baru kita buat sudah selesai, kita bisa mengaktifkan environtment yang sudah kita buat dengan code berikut.

```python
conda activate <ENV_NAME>
```

Contoh: `conda activate zeus_da`

**Perintah `conda` yang sering digunakan:**

- `conda env list`: cek daftar **environment** pada Anaconda
- `conda list`: cek daftar **package** di dalam sebuah environment

Referensi perintah lain: https://docs.conda.io/projects/conda/en/latest/commands.html

## <a id='toc2_2_'></a>[Install/ Update Package](#toc0_)
Sebelum melakukan instalasi package, pastikan Anda sudah melakukan aktivasi virtual environment tempat Anda mau menginstall package.
```python
pip install <PACKAGE_NAME>
```
Contoh: `pip install pandas==2.2.2`

---

Sebenarnya kita bisa memiliki **2 opsi** untuk menginstal package/library Python karena kita menggunakan Miniconda :
1. **pip** \
Package manager yang digunakan untuk menginstal package dari [Python Package Index](https://pypi.org/) dan indeks lainnya.
2. **conda** \
Package manager yang digunakan untuk menginstal package dari [Anaconda Package Repository](https://anaconda.org/anaconda/repo).

Namun, memang `pip` yang paling sering mengikuti update dan sering digunakan.

**‚ú® Additional: Perintah yang Sering Digunakan:**
- `pip install --upgrade <PACKAGE_NAME>`: cara update package dari `pip`
- `conda env list`: cek daftar **environment** pada Anaconda
- `pip list`: cek daftar **package** di dalam sebuah environment

# <a id='toc3_'></a>[Introduction to Jupyter Notebook in VS Code](#toc0_)

- [Dokumentasi: Jupyter Notebook di VS Code](https://code.visualstudio.com/docs/datascience/jupyter-notebooks#_setting-up-your-environment)

## <a id='toc3_1_'></a>[Markdown Cell and Code Cell](#toc0_)

Tipe cell dalam notebook:
1. Markdown
2. Code

### <a id='toc3_1_1_'></a>[Markdown](#toc0_)

> - Digunakan untuk menambahkan teks format dan dokumentasi
> - Tata cara penulisannya menggunakan sintaks markdown
> - [Cheat sheet markdown](https://www.markdownguide.org/cheat-sheet/)

### <a id='toc3_1_2_'></a>[Code](#toc0_)

> - Digunakan untuk menulis dan menjalankan kode python
> - Hanya bisa ditulis dengan kode python
> - Akan mengeluarkan output apabila menjalankan suatu kode yang dapat mengeluarkan output

## <a id='toc3_2_'></a>[Shortcuts](#toc0_)

- `Ctrl+S`: Simpan

1. Command mode
    - `a` : Tambahkan sel di atas
    - `b` : Tambahkan sel di bawah
    - `d` + `d` : Hapus sel yang dipilih
    - `x` : Cut sel yang dipilih
    - `c` : Copy sel yang dipilih
    - `v` : Paste sel yang dipilih
    - `z` : Undo 
    - `m` : Ubah jenis sel ke Markdown
    - `y` : Ubah jenis sel ke kode
    - `enter` : enter Edit Mode


2. Edit mode
    - `Ctrl+Enter`: Jalankan sel yang saat ini dipilih
    - `Shift+Enter`: Jalankan sel yang saat ini dipilih dan sisipkan sel baru di bawahnya (fokus beralih ke sel baru)
    - `Alt+Enter`: Jalankan sel yang saat ini dipilih dan sisipkan sel baru di bawahnya (fokus tetap pada sel saat ini)
    - `Esc`: Mengubah edit mode menjadi command mode

## <a id='toc3_3_'></a>[üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper](#toc0_)

Replikasilah `jupyter_notebook_practice.html` menggunakan notebook kosongan dan submit file `.ipynb` beserta `.html` ke assignment Google Classroom.

-----------

# <a id='toc4_'></a>[Introduction to Python](#toc0_)

## <a id='toc4_1_'></a>[Variables](#toc0_)

**Variable** adalah sebuah nama yang dipakai untuk menunjukkan sebuah nilai. Tanda `=` dipakai untuk membuat variable baru. Proses ini sering disebut sebagai **assignment**.

In [ ]:
# code here

<div class="alert-info alert">
<h5><b>Case Sensitive</b></h5>
üí° Python adalah bahasa pemrograman yang <b>case-sensitive</b> sehingga penamaan variable menjadi hal yang perlu diperhatikan.

`kota` dengan awalan huruf `k` kecil **TIDAK SAMA** dengan `Kota` yang diawali dengan huruf `K` besar.
</div>

In [ ]:
# code here

Berikut beberapa anjuran dalam memberikan nama variable pada Python:
- Menggunakan kombinasi dari huruf kapital (A-Z), huruf nomina (a-z), angka (0-9).
- Special character `!, $ , &, dll` tidak dapat digunakan dalam penamaan variabel.
- Tidak boleh menggunakan angka di awal.
- Tidak boleh menggunakan keyword pada Python
- Bersifat case-sensitive sehingga penamaan variable `algoritma`, `ALGORITMA`, dan `Algoritma` adalah 3 variable yang berbeda

<div class="alert alert-info">
  <b>üí° Keywords</b>
    <p>adalah kata kunci yang sudah ditetapkan oleh Python sebagai nama yang tidak bisa dipakai baik untuk penamaan fungsi, variabel, dan lainnya. Keyword ditulis dalam lower-case (huruf kecil semua) kecuali keyword <code>True</code>, <code>False</code>, dan <code>None</code>. Sejauh ini (Python 3.10) keyword yang ada pada Python adalah sebagai berikut:</p>
</div>

In [ ]:
# Cek daftar keyword
import keyword
keyword.kwlist

## <a id='toc4_2_'></a>[Python Data Types](#toc0_)

### <a id='toc4_2_1_'></a>[String](#toc0_)

Python mewakili string apa pun sebagai objek `str`. Ada beberapa cara untuk membuat nilai string:

- menggunakan `''` (yaitu: `'cyber punk 2077'`)
- menggunakan `""` (yaitu : `"Hari Jum'at"`)
- menggunakan `'''` atau `"""` (yaitu: `'''Andi berkata "Jum'at Bersih"'''`)

### <a id='toc4_2_2_'></a>[Number](#toc0_)

Untuk menyimpan number, python memiliki dua tipe data asli yang disebut `int` dan `float`.
- `int` digunakan untuk menyimpan bilangan bulat (yaitu: 1,2,-3)
- `float` digunakan untuk menyimpan bilangan real (yaitu: 0.7, -1.8, -1000.0).

**Operasi Angka** \
Operator Aritmatika:
- `+` - Penambahan
- `-` - Pengurangan
- `*` - Perkalian
- `/` - Divisi
- `//` - Pembagian Putaran
- `%` - Modul
- `**` - Eksponen

Operator Perbandingan:
- `<` - Lebih kecil dari (yaitu : a < b)
- `<=` - Lebih kecil atau sama dengan (yaitu : a <= b)
- `>` - Lebih besar dari (yaitu: a > b)
- `>=` - Lebih besar atau sama dengan (yaitu: a >= b)
- `==` - Sama dengan (yaitu: a == b)
- `!=` - Tidak Sama dengan (yaitu: a != b)

### <a id='toc4_2_3_'></a>[Boolean](#toc0_)

Boolean menyimpan nilai yang sangat sederhana dalam komputer dan pemrograman, `True` atau `False`.

In [ ]:
x = True 
y = False

In [ ]:
x

**Operasi Boolean** \
Python menyediakan operator logika seperti:
- and (yaitu: a and b)
- or (yaitu: a or c)
- not (yaitu: not a)

### <a id='toc4_2_4_'></a>[List](#toc0_)

`list` digunakan untuk menyimpan beberapa nilai dalam python. Untuk membuatnya, cukup letakkan nilai di dalam tanda kurung (yaitu: `x = [1,2,3]` )

In [ ]:
x = [1,2,3,4,5]
y = [2,3,4,5,6]

**Operasi List**
- `x.append(a)` : tambahkan a ke x
- `x.remove(a)` : hapus a dari x

Selain operator yang dikenal sebelumnya, salah satu list yang paling berguna adalah dengan menerapkan fungsi agregasi seperti:
- `len(x)` : ekstrak panjang daftar
- `a in b` : memeriksa apakah nilai `a` ada di objek daftar `b`
- `max(x)` : mendapatkan nilai tertinggi dalam x
- `sum(x)` : mendapatkan jumlah nilai dalam x

Operasi lain yang harus diketahui dalam daftar adalah pengindeksan:
- `x[i]` : mengakses elemen ke-i dari x

# <a id='toc5_'></a>[Introduction to Library (Package)](#toc0_)

## <a id='toc5_1_'></a>[Import a Library](#toc0_)

In [ ]:
# code here

# <a id='toc6_'></a>[Pandas Library](#toc0_)
## <a id='toc6_1_'></a>[Working with DataFrame](#toc0_)

`pandas` adalah library yang powerful sebagai tools analisis data dan struktur pada Python. Dengan `pandas`, mengolah data menjadi mudah karena disediakan salah satu objek bernama **DataFrame**. Dengan dataframe kita dapat membaca sebuah file, mengolah suatu data dengan menggunakan operasi seperti join, distinct, group by, agregasi, dan teknik lainnya.

> Lebih lengkapnya silahkan kunjungi [official documentation](https://pandas.pydata.org/)

Semua method pada `pandas` dapat dipanggil dengan syntax seperti: `pandas.function_name()`. Langkah pertama yang akan kita lakukan adalah membaca data. Kita dapat menggunakan method `.read_csv()` untuk membaca sebuah file dengan format `.csv`.

In [ ]:
# code ini untuk mengatur pemisah angka ribuan
pd.options.display.float_format = '{:,.3f}'.format

In [ ]:
# read data

üîª Kita coba set kolom pertama `Unnamed: 0` menjadi index dari dataframe, dengan cara menambahkan **parameter** `index_col=0`.

In [ ]:
# code here

Intuisi dari parameter `index_col` pada `read_csv()` adalah menjadikan kolom pada Dataframe sebagai index pada baris. Berikut beberapa nilai yang dapat ditampung oleh parameter `index_col`.
- (0, 1, 2, dst) : Menunjukkan index kolom yang akan dijadikan sebagai index baris.
- `'nama_kolom'` : Selain menggunakan nilai index nya, kita juga dapat langsung mengetikkan nama kolomnya.
- `False` : Menggunakan index yang disediakan oleh `pandas`.

**üìå Additional Information:**

1. Python menggunakan sistem **zero based indexing** yang berarti, index pada python dimulai dari angka 0.
2. Terdapat beberapa parameter dalam method `.read_csv()`, dokumentasi selengkapnya ada [di sini](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

### <a id='toc6_1_1_'></a>[üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper](#toc0_)

In [ ]:
# code here

___

____

# <a id='toc7_'></a>[Exploratory Data Analysis I](#toc0_)

Exploratory Data Analysis (**EDA**) mengacu pada proses melakukan investigasi awal pada data, seringkali dengan tujuan untuk lebih mengenal dengan karakteristik data tertentu. EDA dilakukan dengan bantuan ringkasan statistik dan teknik grafis sederhana untuk melihat struktur data yang kita miliki.

EDA:
- Cek data dengan melihat struktur/bentuk data
- Cek data dengan melihat statistika data
- Cek data dengan memvisualisasikan data


Beberapa tools sederhana pada `pandas` yang dapat digunakan untuk melakukan EDA adalah sebagai berikut:
- `.head()` and `.tail()`
- `.shape` and `.size`
- `.axes`
- `.describe()`
- `.dtypes`

## <a id='toc7_1_'></a>[`head()` and `tail()`](#toc0_)

- `head(n)` digunakan untuk inspeksi `n` data teratas dari sebuah dataframe.
- `tail(n)` digunakan untuk inspeksi `n` data terbawah dari sebuah dataframe.

## <a id='toc7_2_'></a>[`shape` dan `size`](#toc0_)

`shape` dan `size` adalah atribut dari sebuah dataframe yang memberikan informasi terkait dimensi data dan ukuran data

In [ ]:
# check shape

üìå Notes :

In [ ]:
# code here

In [ ]:
# code here

___

In [ ]:
# check size

___

## <a id='toc7_3_'></a>[`axes`](#toc0_)

`axes` adalah atribut dataframe yang memberikan informasi terkait index dataframe (baik index kolom maupun index baris)

In [ ]:
# check axes

üìù Notes :

In [ ]:
# code here

In [ ]:
# code here

___

## <a id='toc7_4_'></a>[`.describe()`](#toc0_)

Method `describe()` menampilkan 8 ringkasan statistika deskriptif. Secara default menampilkan ringkasan untuk kolom numerik. 

Ringkasan statistika yang dimaksud adalah sebagai berikut:
- Count: banyaknya baris pada dataframe
- Mean: rata-rata nilai
- Standard Deviation: jarak rata-rata antara data ke mean (titik pusat data)
- Minimum Value: nilai terkecil dari keseluruhan data
- 25th Percentile (Q1)
- 50th Percentile (Q2/Median)
- 75th Percentile (Q3)
- Maximum Value: nilai terbesar dari keseluruhan data

In [ ]:
# deskripsi dari data rice

üìà  **Insight** :

Ringkasan seperti count, mean, std, min, max, dan quantile() memiliki method nya masing-masing:

___

Kita bisa menambahkan parameter `include` ataupun `exclude` pada `describe()` untuk melihat statistika deskriptif dari variable non-numeric:

üìà **Insight** :

___

## <a id='toc7_5_'></a>[Tipe Data](#toc0_)

Dataframe terdiri dari beberapa **Series** (mengacu pada satu kolom). Dalam satu series harus memiliki satu tipe data yang sama. `pandas` akan mencoba untuk infer tipe data dari masing-masing Series, tapi tidak selalu benar.

## <a id='toc7_6_'></a>[`dtypes`: Check Tipe Data](#toc0_)

Cara cek tipe data: `dtypes` atau `.info()` untuk lebih lengkapnya

<div class="alert alert-secondary">
<p>
üîé Nice to Know: <b>Method vs. Atribut</b> üîé 

- Secara tampilan:

    - **method** selalu diikuti dengan tanda kurung ()
        
        Contoh : `.head()`, `.tail()`, `.read_csv()`

    - **atribut** tidak diikuti oleh tanda kurung
        
        Contoh : `.dtypes`
        
- Kepemilikan nilai/parameter yang bisa diganti-ganti

    - **method**: ‚úÖ memiliki parameter/nilai yang bisa diganti-ganti
    
        Contoh : `head(n=)` ‚û°Ô∏è parameter n bisa diganti/disesuaikan dengan jumlah baris yang mau ditampilkan
        
    - **atribut**: ‚ùå tidak ada 
</p>
</div>

In [ ]:
# read data rice
rice = pd.read_csv('data_input/rice.csv', index_col=0)

In [ ]:
# check tipe data

### <a id='toc7_6_1_'></a>[Numerical and Categorical Variables](#toc0_)

#### <a id='toc7_6_1_1_'></a>[Numerical](#toc0_)

Terdapat dua jenis tipe data numerik, yaitu `float` dan `int`. Perhatian khusus terhadap tipe data ini sangat penting agar dapat memastikan kesesuaian dengan kebutuhan analisis. Alasannya:

**Operasi Matematika yang Akurat:**
   - Penting untuk memastikan bahwa kolom-kolom yang seharusnya berisi data numerik diidentifikasi dengan benar sebagai float atau int. Jika suatu kolom numerik tidak terbaca dengan tepat, operasi matematika seperti penjumlahan, pengurangan, perkalian, dan pembagian mungkin menghasilkan kesalahan atau hasil yang tidak akurat. Sebagai contoh, menganggap kolom numerik sebagai tipe data teks dapat mengakibatkan kesalahan perhitungan.


Dengan memahami pentingnya tipe data numerik dan memastikan identifikasi yang benar, kita dapat meminimalkan risiko kesalahan dalam analisis data dan memastikan bahwa hasilnya dapat diandalkan.


#### <a id='toc7_6_1_2_'></a>[Object & Categorical](#toc0_)

**Karakteristik tipe data `object`**:
- Mirip seperti tipe data string pada python
- Kemunculannya unik (artinya setiap row kemunculannya hanya 1 atau beberapa)

**Karakteristik tipe data `category`:**
- Dapat dikelompokkan menjadi beberapa kelompok (category)
- Kemunculannya berulang

Dua alasan mengapa kita perlu menggunakan tipe data categorical:

1. **Business Perspective Side**: dapat memandu seorang Analyst untuk memilih metode statistik atau tipe plot mana yang digunakan untuk mengolah data.

2. **Technical Side**: tipe data categorical akan menghemat memori dan menambah kecepatan komputasional

### <a id='toc7_6_2_'></a>[Mengubah Tipe Data](#toc0_)

Untuk mengubah tipe data ke categorical pada pandas, Anda dapat melakukannya dengan method `astype()` berikut:

**Formula** 
```
df['column_name'] = df['column_name'].astype('new_data_types')
```

**Contoh**
```
employees['marital_status'] = employees['marital_status'].astype('category')
```

Perhatikan dataframe baru di bawah ini untuk contoh lain dari tipe data pada `pandas`!

In [ ]:
employees = pd.DataFrame({
    'name': ['Anita', 'Brian'],
    'age': ['34', '29'],
    'joined': [pd.Timestamp('20190410'), pd.Timestamp('20171128')],
    'degree': [True, False],
    'hourlyrate': [35.5, 29],
    'division': ['HR', 'Product']
})

employees

In [ ]:
employees.dtypes

- `name` [`object`]: store text values
- `age` [`object`]: store text values
- `joined` [`datetime`]: date and time values
- `degree` [`bool`]: True/False values
- `hourlyrate` [`float`]: floating point values
- `division` [`object`]: store text values

‚ùìPerhatikan dataframe `employees`. Adakah kolom yang tipe datanya belum tersimpan dengan benar? Ubahlah ke tipe data yang tepat dengan menggunakan method `astype()`!

Kolom yang perlu diubah tipe datanya:
- Age : object -> int
- Division : object -> category

In [ ]:
employees.dtypes

___

### <a id='toc7_6_3_'></a>[Rangkuman Data Types](#toc0_)

Fokus pada kolom Pandas dtype dan usage-nya:

| Pandas dtype  | Python type  | NumPy type                                                     | Usage                                        |
|---------------|--------------|----------------------------------------------------------------|----------------------------------------------|
| object        | str or mixed | string_, unicode_, mixed types                                 | Text or mixed numeric and non-numeric values |
| int64         | int          | int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64 | Integer numbers                              |
| float64       | float        | float_, float16, float32, float64                              | Floating point numbers                       |
| bool          | bool         | bool_                                                          | True/False values                            |
| datetime64    | NA           | datetime64[ns]                                                 | Date and time values                         |
| timedelta[ns] | NA           | NA                                                             | Differences between two datetimes            |
| category      | NA           | NA                                                             | Finite list of text values                   |

Referensi: [Overview of Pandas Data Types](https://pbpython.com/pandas_dtypes.html)

___

**Data Rice**

Atribut `dtypes` digunakan untuk melakukan inspeksi tipe data.

---

üí° Kita bisa menggunakan method berikut untuk **mengidentifikasi kolom mana yang cocok untuk disimpan ke tipe data `category`**

- `.unique()` untuk melihat nilai unik di setiap Series
- `.nunique()` untuk melihat jumlah nilai unik/distict pada Series/Dataframe

---

In [ ]:
rice.dtypes

> Kolom category: ....

In [ ]:
# ubah tipe data data data rice

## <a id='toc7_7_'></a>[Knowledge Check: Data types](#toc0_)

Misalkan saja kita memiliki sebuah DataFrame dengan nama `inventory`.

Ketika menjalankan perintah `inventory.dtypes`, maka pandas akan menampilkan tipe data pada setiap kolom (series). Manakah kolom dibawah ini yang mungkin memiliki tipe data yang salah?
 - [ ] `product_id`: int64
 - [ ] `units_instock`: int64
 - [ ] `discount_price`: float64
 - [ ] `item_name`: object
 - [ ] `category`: object
 - [ ] `units_sold`: object
 - [ ] `year_sold`: object

In [ ]:
inventory = {
    'product_id': [145789, 9157889, 8147889, 7148889, 1578895],
    'units_instock': [100, 150, 80, 200, 120],
    'discount_price': [29.99, 49.99, 39.99, 19.99, 59.99],
    'item_name': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E'],
    'category': ['Electronics', 'Clothing', 'Home & Kitchen', 'Electronics', 'Beauty'],
    'units_sold': ['50', '75', '30', '90', '60'],
    'year_sold': ['2022', '2022', '2021', '2023', '2022']
}
inventory.dtypes

___

### <a id='toc7_7_1_'></a>[Summary Day-2](#toc0_)

- Membuat variabel: .......
    - .......
    - .......
    - .......
    - .......
    
- Library merupakan pustaka: kumpulan-kumpulan dari .......
- `pandas`: library yang digunakan untuk .......
    - install terlebih dahulu library pandas di terminal dengan cara: `pip install pandas`
    - memanggil library pandas --> `.......`
    - membuka data kita --> `.......`

        
- Tools EDA:
  

- Tipe data:
    - Tipe data pandas:
        - Check tipe data: `.......`
        - int64, float64, object, datetime64, category
        - Mengubah tipe data menggunakan method `.......`

========================================= End of Day 2 ======================================

# <a id='toc8_'></a>[Indexing and Subsetting with Pandas](#toc0_)

Indexing digunakan untuk memilih dan mengambil sebagian data yang hanya diperlukan dalam proses analisa data yang sedang dikerjakan. Contohnya:
- Compare sales pada tahun 2018 vs 2019
- Identifikasi peluang penjualan pada segment pasar (ex : Wholesale vs Retail)
- Melihat quarter terbaik untuk setiap tahun yang dapat digunakan untuk tujuan promosi
- dan sebagainya

Untuk melakukan indexing dan subsetting (slicing data) pada `pandas`, kita dapat menggunakan cara sebagai berikut:
- `head()` and `tail()`  
- `select_dtypes()`  
- Using `.drop()` 
- The `[]` operator
- `.loc`  
- `.iloc`
- Conditional subsetting

## <a id='toc8_1_'></a>[`select_dtypes()`](#toc0_)

Method `select_dtypes()` digunakan untuk memilih **kolom** sesuai dengan tipe datanya. Ada 2 parameter yang dapat digunakan di dalam method `select_dtypes()` yaitu parameter `include` dan `exclude` (seperti pada `describe()`.

Misal:
- parameter `include = 'category'` artinya kita memilih semua kolom dengan tipe data 'category'
- sebaliknya, ketika menggunakan parameter `exclude = 'category'` maka kolom-kolom dengan tipe data selain 'category' akan ditampilkan.

In [ ]:
# code here --> only category

‚ùì Bagaimana cara Anda untuk menyeleksi kolom dengan tipe data `int64` dan `float64` untuk ditampilkan?

In [ ]:
# code here

## <a id='toc8_2_'></a>[`drop()`](#toc0_)

Method `drop()` digunakan untuk membuang baris atau kolom yang tidak ingin digunakan untuk tujuan analisis. Secara default method ini akan menghapus baris

### <a id='toc8_2_1_'></a>[Hapus berdasarkan index baris](#toc0_)

**Hapus index baris 1 pada DataFrame**

‚ùì Hapus index baris 2 dan 4 pada data

In [ ]:
# code here

### <a id='toc8_2_2_'></a>[Hapus berdasarkan index kolom](#toc0_)

**Hapus index kolom `receipts_item_id`**

In [ ]:
# drop columns receipts_item_id

‚ùì Hapus kolom `unit_price`, `purchase_time`, `receipts_item_id`

In [ ]:
# code here

___

üìå **NOTE:** Method `drop()` tidak mengubah objek dataframenya. Apabila ingin mengubah objek semulanya:
- Melakukan assignment kembali dengan nama objek yang sama: `rice = rice.drop(...)`, atau
- Menambahkan parameter inplace: `rice.drop(..., inplace=True)`

___

## <a id='toc8_3_'></a>[Slicing: **`[]` operator**](#toc0_)

Digunakan untuk melakukan subsetting dengan cara mengiris (slicing) index pada dataframe. Formula penulisannya adalah `[start:end]` dengan mengikuti aturan indexing pada python (dimulai dari 0) dimana `start` inclusive dan `end` exclusive.

Dengan menggunakan metode slicing, silahkan tampilkan baris ke 1 dan ke 2

In [ ]:
# slice baris ke 1 dan 2

‚ùì Dengan menggunakan metode slicing, silahkan tampilkan baris ke 10 sampai ke 15

In [ ]:
# code here

___

## <a id='toc8_4_'></a>[`.iloc` dan `.loc`](#toc0_)

Dengan menggunakan `.iloc` dan `loc` kita dapat melakukan pengirisan pada index **baris dan kolom**. 

Perbedaan yang mendasar dari kedua operator ini adalah:
- `.iloc` merujuk pada lokasi **index** baris atau kolomnya sehingga harus **integer**, sedangkan
- `.loc` merujuk pada lokasi **nama** baris atau kolomnya

**Mari berfokus pada .iloc terlebih dahulu**

> Syntax: `df.iloc[baris, kolom]`

In [ ]:
# menggunakan method .head() 
rice.head()

In [ ]:
# menggunakan slicing
rice[0:5]

In [ ]:
# menggunakan perintah .iloc

Menampilkan baris pertama (index baris 1) dan kolom ke-6 (index kolom ke 6), artinya adalah data pada baris kedua dan kolom `unit_price`.

In [ ]:
# baris 0, kolom 6

üìå **Note :** parameter colon (:) digunakan untuk menampilkan semua data baik pada baris ataupun kolom

‚ùìMengambil baris ke-2 sampai 5 dan kolom dengan `receipts_item_id` sampai `purchase_time`

In [ ]:
# code here

___

*Mari kita pergi ke .loc**

> Syntax: `df.loc[baris, kolom]`

Menggunakan `.loc`, kita bisa mengambil baris dan kolom berdasarkan namanya. Contoh kita ingin mengambil baris dengan index baris 1 dan 3, serta mengambil semua kolom.

In [ ]:
# code here

‚ùì Mengambil baris pada index transaksi 100, 200, 300, 400, 500 dari kolom `category` sampai `quantity`

___

#### <a id='toc8_4_1_1_'></a>[üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper:](#toc0_)
Baca data `companies.csv`dan gunakan `index_col=1`, kemudian tampilkan beberapa baris menggunakan method `head()` atau `tail()`

Dengan menggunakan metode indexing, jawab pertanyaan dibawah ini!

1. Tampilkan lokasi kantor *Li and Partners*?
2. Tampilkan nilai `Returns` yang dihasilkan oleh PT. Algoritma Data Indonesia?
3. Tampilkan nilai `Forecasted Growth` untuk Palembang Konsultansi?

In [ ]:
# code here

___

## <a id='toc8_5_'></a>[Conditional Subsetting](#toc0_)

Selain menggunakan `.loc` dan `.iloc`, kita dapat melakukan subsetting berdasarkan kondisi tertentu. Misal pada dataframe `rice`, kita ingin mengambil beberapa data dengan kondisi sebagai berikut:

- Transaksi yang terjadi di supermarket: `.format == 'supermarket'`
- Transaksi dengan produk yang harganya lebih dari sama dengan 200000: `.unit_price >= 200000`
- Transaksi dimana kuantitas tidak sama dengan 0: `.quantity != 0`

Syntax penulisan untuk conditional subsetting adalah:

**`df[df['column_name'] <comparison_operator> <value>]`**

atau

**`df[df.column_name <comparison_operator> <value>]`**

Contoh comparison_operator adalah seperti `==`, `!=`, `>`, `>=`, `<`, `<=`.

üîª Menampilkan data yang memiliki `format` Supermarket!

In [ ]:
# format supermarket

üîª Menampilkan data yang memiliki `unit_price` lebih besar sama dengan 200.000

‚ùìTampilkan transaksi yang harganya (`unit_price`) kurang dari 100.000

In [ ]:
# code here

‚ùì Tampilkan transaksi selain di Supermarket (kolom `format`)!

In [ ]:
# code here

## <a id='toc8_6_'></a>[Multiple Conditions](#toc0_)

Kita juga dapat menggunakan operator `&` (AND) dan `|` (OR) untuk melakukan subsetting lebih dari 1 kondisi. Misalnya kita ingin melihat data penjualan dari seorang pegawai bernama Moana yang jumlahnya lebih dari 5000, maka kita dapat menggunakan syntax:
```
sales[(sales.salesperson == 'Moana') & (sales.amount > 5000)]
```

Untuk subsetting dengan kondisi lebih dari 1, setiap kondisi diletakkan **di dalam tanda kurung `()`** atau bisa ditulis dengan syntax berikut:

```
df[(kondisi pertama) operator (kondisi kedua) operator (kondisi ketiga) dan seterusnya...]
```

**Poin:**
- Operator AND: harus semua kondisi terpenuhi dalam satu baris agar muncul
- Operator OR: salah satu kondisi saja sudah terpenuhi maka baris tsb muncul
___
- cond1 = kondisi 1
- cond2 = kondisi 2
```
rice[(cond1)&(cond2)]
rice[(cond1)|(cond2)]
```

**Contoh sederhana penggunaan OR dan AND**

In [ ]:
df = pd.DataFrame({
    'angka': [1,2,3],
    'huruf': ['a','b','c']
})
df

**OPERATOR AND**

Menampilkan baris dengan `angka` 1 dan `huruf` a

In [ ]:
#code here
df[(df['angka'] == 1) & (df['huruf']=='a')]

Menampilkan baris dengan `angka` 1 dan `huruf` b

In [ ]:
#code here
df[(df['angka'] == 1) & (df['huruf']=='b')]

**OPERATOR OR**

Menampilkan baris dengan `angka` 1 atau `huruf` b

In [ ]:
#code here
df[(df['angka'] == 1) | (df['huruf']=='b')]

___

‚ùì Lakukan subsetting untuk mengambil semua transaksi di `supermarket` yang `unit_price`nya di atas 200,000.?

In [ ]:
# code here

‚ùì Subset baris yang formatnya `supermarket` dan `minimarket`

In [ ]:
# code here

___

## <a id='toc8_7_'></a>[üèÑüèª‚Äç‚ôÄÔ∏è Dive Deeper](#toc0_)

Dengan menggunakan metode conditional subsetting, jawab pertanyaan dibawah ini:

1. Apabila Anda masih ingat, pada `.describe()` kita menemui bahwa terdapat transaksi janggal dengan **`discount` yang bernilai negatif**. Ada berapa transaksi yang janggal tersebut?
2. Perusahaan mendefinisikan pembelian grosir sebagai transaksi dengan `quantity` **minimal 12 units (1 Lusin)**. Berapa transaksi pada **hypermarket** yang dikatakan sebagai pembelian grosir?

*Hint: Gunakan `.shape` untuk mengetahui jumlah baris/kolom*

In [ ]:
# your code here: no 1

In [ ]:
# your code here: no 2

**Bonus Challenge**

Berapa banyak transaksi pada dataframe `rice` yang terjadi pada bulan Juli tahun 2018 baik di `minimarket` maupun `supermarket`?

In [ ]:
# code here

___

# <a id='toc9_'></a>[Referencing and Copying](#toc0_)

Pada python, tanda sama dengan (`=`) bisa digunakan untuk me-**refer** sebuah Dataframe. Sekarang mari kita lihat kembali dataframe `rice`:

In [ ]:
import pandas as pd
rice = pd.read_csv("data_input/rice.csv", index_col=1)
rice = rice.drop('Unnamed: 0', axis=1)
rice.head()

## <a id='toc9_1_'></a>[Reference](#toc0_)

Membuat dataframe baru dengan nama `rice_second` yang menyimpan semua transaksi seperti `rice`. Kemudian misalnya kita ingin update kolom `discount` agar menjadi 15 pada semua barisnya.

In [ ]:
#code here

## <a id='toc9_2_'></a>[Copying](#toc0_)

Membuat dataframe baru dengan nama `rice_second` yang menyimpan semua transaksi seperti `rice`. Kemudian misalnya kita ingin update kolom `discount` agar menjadi 15 pada semua barisnya.

In [ ]:
#code here
rice = pd.read_csv("data_input/rice.csv", index_col=1)
rice.head()

In [ ]:
#code here

In [ ]:
# check id rice

In [ ]:
# check id rice_second

___

# <a id='toc10_'></a>[Additional Information](#toc0_)

- [Book - Python for Data Analysis](https://www.programmer-books.com/wp-content/uploads/2019/04/Python-for-Data-Analysis-2nd-Edition.pdf)
- [Self Exercise - LearnPy Algoritma for P4DA Course](https://gitlab.com/algoritma4students/academy-python/exercise/learnpy-da)

### <a id='toc10_1_1_'></a>[Cara Membuat Kolom Baru](#toc0_)

Cara membuat kolom baru
    ```
    df['new_column'] = new_value
    ```

`new_column` merupakan nama kolom yang sebelumnya tidak ada di dataframe `df`.

Kasus: Ingin menghitung `total_price` yaitu hasil perkalian `unit_price` dengan `quantity`

In [ ]:
rice['total_price'] = rice['unit_price'] * rice['quantity']

In [ ]:
rice.head()

In [ ]:
rice['purchase_time'] = rice['purchase_time'].astype('datetime64[ns]')

In [ ]:
rice.dtypes

# <a id='toc11_'></a>[Inclass Questions](#toc0_)